<nav class="menu" role="nav">
    <ul>
      <li><a href="http://codespacejam.com/about-us/">About Us</a></li>
      <li><a href="">Item Two</a></li>
      <li><a href="">Item Three</a></li>
    </ul>
</nav>